h2,
button {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

button {
  font-size: 16px;
  color: $white;
  background-color: $light-red;
  cursor: pointer;
}

p,
input,
label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $light-gray;
  line-height: 24px;
}

li {
  list-style-type: none;
  list-style: none;
}
